<ol class="list-group">
	<li class="list-group-item" ng-repeat="event in vm.events" ng-class="event.testtype" ng-attr-data-toggle="{{event.partials ? 'collapse' : undefined}}" ng-attr-data-target="{{event.partials ? '#coldiv' + $index : undefined}}">
		<span class="btn-clipboard" ng-click="vm.RemoveEvent($index)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></span>
		<div class="" ng-if="event.type === 'key'" context-menu="vm.menuOptions" style="word-wrap:break-word;">
			<span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
			<span ng-if="event.id && event.id.length > 0">
				<b>Typing:</b> <em>'{{event.text}}'</em> into input box with id: <em>'{{event.id}}'</em>
			</span>
			<span ng-if="!event.id && event.path">
				<b>Typing:</b> <em>'{{event.text}}'</em> into input box with name with selector: <em>'{{event.path}}'</em>
			</span>
		</div>
		<div class="" ng-if="event.type === 'click'" context-menu="vm.menuOptions" style="word-wrap:break-word;">
			<span class="glyphicon glyphicon glyphicon-hand-up" aria-hidden="true"></span>
			<span ng-if="event.id && event.id.length > 0"><b>Clicked:</b> to item with id <em>'{{event.id}}'</em></span>
			<span ng-if="!event.id && event.path"><b>Clicked:</b> to item with selector <em> '{{event.path}}'</em></span>
		</div>
		<div class="" ng-if="event.type === 'load'" context-menu="vm.menuOptions" style="word-wrap:break-word;">
			<span class="glyphicon glyphicon glyphicon glyphicon-globe" aria-hidden="true"></span>
			<b>Loaded new url:</b> <em>'{{event.url | limitTo:100}}{{event.url.length > 100 ? '...' : ''}}'</em>
		</div>
		<div class="" ng-if="event.type === 'enter'" context-menu="vm.menuOptions" style="word-wrap:break-word;">
			<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
			<span ng-if="event.id && event.id.length > 0">
				<b>Pressed enter on:</b> item with id <em>'{{event.id}}'</em>
			</span>
			<span ng-if="event.path && event.path.length > 0">
				<b>Pressed enter on:</b> item with selector <em>'{{event.path}}'</em>
			</span>
		</div>
		<div class="" ng-if="event.type === 'ensure'" style="word-wrap:break-word;">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<span ng-if="event.id && event.id.length > 0">
				<b>Ensure existence</b> of element with id: <em>'{{event.id}}'</em>
			</span>
			<span ng-if="event.path && event.path.length > 0">
				<b>Ensure existence</b> of element with selector: <em>'{{event.path}}'</em>
			</span>
		</div>
		<div class="" ng-if="event.type === 'iframesubload'" style="word-wrap:break-word;">
			<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
			<b>Switched to IFrame with id: '{{event.id}}'</b> and url <em>{{event.url | limitTo:100}}</em>
		</div>
		<div class="collapse" id="coldiv{{$index}}" ng-if="event.partials">
			<ul ng-repeat="partial in event.partials" style="padding-left:20px;">
				<li>{{partial.url | limitTo:100}}</li>
			</ul>
		</div>
	</li>
</ol>