body {
	background: white;
}
.bs-callout {
	padding-bottom:10px;
	padding-left:20px;
	padding-right:10px;
	padding-top:0px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.bs-callout-info {
	border-left-color: #1b809e;
}
.bs-callout-danger {
	border-left-color: #ce4844;
}
.bs-callout-success {
	border-left-color: #3c763d;
}
.bs-callout-success h4 {
	color: #3c763d;
}
.bs-callout-danger h4 {
	color: #ce4844
}
.setup
{
	background-color: yellow;
	opacity: 0.6;
	background-image: url('../images/cog.svg');
	background-repeat: no-repeat;
	background-position-x: 50%;
}
.test
{
	background-color: #94de2d;
	opacity: 0.6;
	background-image: url('../images/flask.svg');
	background-repeat: no-repeat;
	background-position-x: 50%;
}
.result
{
	background-color: #ff8888;
	opacity: 0.6;
	background-image: url('../images/exam.svg');
	background-repeat: no-repeat;
	background-position-x: 50%;
}